@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #e4eafd;

}

.cabecalho {
    display: flex;
    margin: 1%;
}

.tela__inicial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tela__inicial__textoebotao{
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 15px;
}

.imagem__texto__inicial{
    background-color: white;
    display: flex;
    width: 30%;
    height: 944px;
    padding: 50px 50px 50px 50px;
    flex-direction: column;
    border-radius: 32px;
    box-sizing: border-box;
    align-items: center;
}

.imagem__menina{
    padding: 0 0 20% 0 ;
    width: 100%;
}

.imagem__texto__inicial-somente{
    margin: 10% 0 0 1%;
    width: 80%;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 0 20% 0 ;
}

.texto__inicial__nenhuma{
    display: flex;
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
}

.texto__inicial__digite{
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
}

.tela__botoes {
    display: flex;
    justify-content: space-around;
}

.botao__criptografar {
    display: flex;
    padding: 10px 10px;
    border-radius: 24px;
    text-align: center;
    background-color: #0a3871d3;
    font-family: "Montserrat", sans-serif;
}

.botao__criptografar:hover{
    background-color: #1862bcd3;
}

.botao__descriptografar {
    display: flex;
    padding: 10px 10px;
    border-radius: 24px;
    text-align: center;
    background-color: #0a3871d3;
    font-family: "Montserrat", sans-serif;
    
}

.botao__descriptografar:hover{
    background-color: #1862bcd3;
}

.resultado__final{
    background-color: white;
    height: 944px;
    width: 30%;
    top: 40px;
    left: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 32px;
    box-sizing: border-box;
}

.resultado{
    font-family: "Lilita One", sans-serif;
    font-size: 2rem;
    height: 48x;
    width: 25%;
    top: 168px;
    left: 240px;
    border-width: 0px;
    margin: 10px;
    box-sizing: border-box;

}

.botao__copiar {
    display: flex;
    align-self: flex-end; 
    padding : 10px 10px;
    border-radius: 24px;
    margin: 10px;
    text-align: center;
    background-color: #0a3871d3;
    font-family: "Montserrat", sans-serif;
}

.botao__copiar:hover{
    background-color: #1862bcd3;
}

.hidden {
    display: none;
}

.texto__base {
    font-size: 2rem;
    height: 48x;
    width: 680px;
    top: 168px;
    left: 240px;
    margin: 0px 0px 0px 30px;
    border: 0;
    background-color: #e4eafd;
    font-family: "Lilita One", sans-serif;
}

.alerta{
    margin: 10px 0px 10px 50px;

}
.padrao__texto{
    font-size: 0,9rem;
    line-height: 18px;
    width: 228px;
    color: #45565F;
    font-family: "Montserrat", sans-serif;
}

.rodape {

    background-color: #d7e0ffcd;
    padding: 20px;
    border-radius: 24px;
}

.rodape__titulo{
    font-family: "Sankofa Display", sans-serif;
    color: #0a3871;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (max-width: 750px) {
    body {
        width: auto;
        height: 100vh;
    }
    .tela__inicial {
        flex-direction: column;
    }
    .tela__inicial__textoebotao{
        width: 70%;
    }
    .imagem__texto__inicial{
        width: 70%;
    }
    .resultado__final{
        width: 70%;
    }
}